
</div>
<footer>
    <div class="footer clearfix mb-0 text-muted">
        <div class="float-start">
            <p>2024 &copy; <a href="#" style="text-decoration:underline;">Mohamed LEGHDAICH</a>.</p>
        </div>
        <div class="float-end">
            <p>
                <ul class="list-unstyled d-inline-flex ms-auto mb-0">
                    <li class="me-4"><a href="/page/conditions" style="text-decoration:underline;">Terms &amp; Conditions</a></li>
                    <li><a href="/page/contacts" style="text-decoration:underline;">Contact Us</a></li>
                </ul>
            </p>
        </div>
    </div>
</footer>
</div>
</div>
<script src="/assets/static/js/components/dark.js"></script>
<script src="/assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js"></script>

<script src="/assets/compiled/js/app.js"></script>


</body>

</html>