
</div>
<footer>
    <div class="footer mb-0 text-muted" style="display:flex; justify-content:space-between;">
        <div>
            <p>2024 &copy; <a href="https://med2mad.github.io/Portfolio/index-fr.html" target="_blank" style="text-decoration:underline;">Mohamed LEGHDAICH</a>.</p>
        </div>
        <div>
            <ul class="list-unstyled d-inline-flex ms-auto mb-0">
                <li class="me-4"><a href="/page/conditions" style="text-decoration:underline;">Terms &amp; Conditions</a></li>
                <li class="contact"><a href="/page/contacts" style="text-decoration:underline;">Contact Us</a></li>
            </ul>
        </div>
    </div>
</footer>
</div>
</div>
<script src="/assets/static/js/components/dark.js"></script>
<script src="/assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js"></script>

<script src="/assets/compiled/js/app.js"></script>


</body>

</html>