.burger-btn{
    display:none !important;
}

.page-link{
    cursor: pointer;
}

.userstable{
    margin-top:1rem;
}
.userstable div{
    text-align: center;
}

.userrow{
    display:flex;
    align-items: center;
    box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    border-radius: 15px 15px 0 0;
    border-bottom: solid 1px;
}
:root[data-bs-theme="light"] .userrow{
    background-color:rgba(0, 0, 0, .05) ;
}
:root[data-bs-theme="dark"] .userrow{
    background-color: rgba(170, 168, 168, .05) ; 
}
:root[data-bs-theme="light"] .userrow-active{
    background-color: #d1fde7 !important;
}
:root[data-bs-theme="dark"] .userrow-active{
    background-color: #00c060 !important; 
    color:white;
}

.friendbtns {
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px;
}
:root[data-bs-theme="light"] .friendbtns {
    background-color: #cccccc8a;
}
:root[data-bs-theme="dark"] .friendbtns {
    background-color: #888888;
}
.friendbtns .btn{
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
}


.chatbtn{
    background: linear-gradient(to right, #3e96d1, #211a5f) !important;
    border-radius:50% !important;
    padding:10px 10px !important;
    border: solid #444466 !important;
    width: 100px; height: 100px;
    font-weight: bolder !important;
}
.chatbtn:hover{
    background: linear-gradient(to right, #687dd8, #1e2761) !important;
}
.chatbtn:active{
    transform: scale(0.90) !important;
}

/* :root[data-bs-theme="light"] .userrow{
    border-bottom: solid 10px #fff !important;
}
:root[data-bs-theme="dark"] .userrow{
    border-bottom: solid 10px #1e1e2d !important;
} */

.messagerow {
    display:flex;
    align-items:center;
    gap:5px;
    text-align:center;
    border-radius:10px;
}

.messagerow .oldmessage{ 
    color:black;
    text-align: left;
    max-width: 800px;
    max-height: 220px;
    overflow: auto;
    padding:10px;
    border-radius: 10px;
}
.messagerow .oldmessage *{ 
    margin-bottom: 0;
}
.messagerow .oldmessage img{ 
    max-width: 100px;
    max-height: 100px;
}
:root[data-bs-theme="light"] .messagerow .oldmessage {
    box-shadow: -2px 2px 0px 0px #d7d7d7;
}
:root[data-bs-theme="dark"] .messagerow .oldmessage {
    box-shadow: -2px 2px 0px 0px #7e7e7e;
}

.messagerow .photo{
    border:solid;
    object-fit:contain;
    background-color:black;
    border-radius:50%;
}

.messagesCard{
    box-shadow: -2px -2px #dbdbdb !important;
    border-radius: 10px 0px 0px 0px !important;
    border-right:solid 1px rgba(128, 128, 128, 0.397);
    border-bottom:solid 1px rgba(128, 128, 128, 0.397);
    overflow: auto;
}

:root[data-bs-theme="light"] .messagesCard {
    background-color: rgb(255, 243, 239);
}
:root[data-bs-theme="light"] .messagesCard nobr {
    color:black;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */

}

/* Modal Content (Image) */
.modal-content {
    width: auto !important;
    height: auto !important;
    max-width: 80% !important; /* prevents the image from exceeding its container's width */
    max-height: 80% !important;
    margin: auto !important;
    align-items: center !important;
    justify-items: center !important;
}

/* Close button (X) */
.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
}





@media only screen and (max-width: 1200px){

    .burger-btn{
        display:inline-block !important;
    }
    .messagerow .photo{
        width:50px;
        height: 50px;
    }
        }